@import 'theme/variables.scss';

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.continue-button {
  width: 117px;
  height: 30px;
  margin: 25px 15px;
  &[disabled] {
    cursor: not-allowed;
    pointer-events: auto;
    opacity: .75;

    &:hover {
      &::before {
        content: "You must first select a source and output folder";
        position: fixed;
        left: 180px;
        padding-top: 6px;
        color: var(--primary);
      }
    }
  }
}

.reset-button {
  margin: 24px 0 0;
}

.tooltip {
  margin-top: 10px;
}