@import 'theme/variables.scss';

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 15px;

}

.continue-button {
  height: 30px;
  margin: 25px 15px;

  &[disabled] {
    cursor: not-allowed;
    pointer-events: auto;
    opacity: .5;

    &:hover {
      &::before {
        content: "You must select a source and output folder before merging";
        position: fixed;
        left: 150px;
        padding-top: 5px;
        color: $primary;
      }
    }
  }
}

.save-button {
  margin: 0;
  margin-top: -4px;
}

.tooltip {
  margin-top: 10px;
}