@import 'theme/variables.scss';

.button {
  padding: 0 25px;
  -webkit-app-region: no-drag;
  color: var(--black);
  border-radius: 0;

  &:hover {
    background-color: var(--background-color);
    color: var(--black);
  }

  &:last-child {
    &:hover {
      background-color: var(--red-exit);
      span {
        color: var(--white-constant);
      }
    }
  }

  span i {
    font-size: 12px;
  }
}