@import 'theme/variables.scss';

body section.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: var(--primary);

  div {
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      font-weight: bold;
      font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
      color: var(--black);
    }

    svg {
      color: var(--black);
      width: 20px;
      padding: 5px 6px 5px 8px;
    }

  }
}