// CSS custom properties which are changed
// when theme is updated.
:root {
  --active-state: rgba(254, 254, 254, .2);
  --background-color: rgba(254, 254, 254, .5);
  --black: #252525;
  --border: solid 1px rgba(254, 254, 254, .1);
  --hover-state: rgba(254, 254, 254, .1);
  --loading-background-color: rgba(0, 0, 0, .6);
  --primary: #bf7e45;
  --red-exit: #ff0000;
  --white: #fefefe;
  --white-constant: #fefefe;
}