@import 'theme/variables.scss';

.aside {
  display: flex;
  flex-direction: column;
  border-right: var(--border);
  margin-top: -8px;
  width: 80px;
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;

  svg {
    color: var(--white);
    width: 40px;
  }

  &:hover {
    cursor: pointer;

    &:not(.active) {
      background-color: var(--hover-state);
    }
  }

  &.active{
    background-color: var(--active-state);
  }
}

.theme {
  svg {
    width: 40px;
    color: var(--primary);
    transform: scale(-1, 1);
    position: fixed;
    bottom: 25px;
    left: 20px;
    cursor: pointer;
  }
}