@import 'theme/variables.scss';

body {
  background: $black;
  margin: 0;
  margin-top: 40px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  div[role="tooltip"] {
    color: $black;
  }

  /* MS Fluent dropdown overrides */
  .ms-Callout.ms-Dropdown-callout {
    margin-top: 5px;
    border: solid 1px;
    height: 158px;
    overflow-x: auto;
  }

  .ms-Callout-main {
    max-height: unset !important; // Overrides inline styles
    overflow: hidden !important; // Overrides inline styles
  }

  .ms-Dropdown-container i {
    color: $primary;

    &[data-icon-name="LocaleLanguage"] {
      margin-left: 8px;
    }
  }
}
